apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  labels:
    role: web
spec:
  replicas: 1
  selector:
    matchLabels:
      role: web
  strategy:
    rollingUpdate:
      maxSurge: 25
      maxUnavailable: 25
    type: RollingUpdate
  template:
    metadata:
      labels:
        role: web
    spec:
      containers:
      - name: web
        image: <%%= built_image %>
