.masthead {
  h1 {
    font-size: 2.2em;
    font-weight: bold;
  }
  h2 {
    font-size: 1.7em;
    line-height: 1.3em;
    padding-bottom: 20px;
  }
}
.homepage-logo {
  width: 60%;
  margin: auto;
  text-align: center;
  display: block;
  padding-bottom: 30px;

  @media (min-width: 575px) {
    width: 100%;
    position: absolute;
    top: 50%;
    max-width: none;
    margin: 0;
    transform: translateY(-50%);
  }
}

.navbar-logo {
  max-height: 25px;
  @media (min-width: 992px) {
    max-height: 55px;
  }
}

ol.overview-stages li {
  padding: 10px 0;
}

section#main {
  text-align: center;
  color: #fff;
  background: $site-color-primary;
}

section#main .container {
  padding-top: 60px;
  padding-bottom: 50px;
}

section#main img {
  display: block;
  margin: 0 auto 20px;
}

section#main .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  font-weight: 700;
}

section#main .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

@media(min-width:768px) {
  section#main {
    text-align: left;
  }

  section#main .container {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  section#main .intro-text .name {
    font-size: 4.75em;
  }

  section#main .intro-text .skills {
    font-size: 1.75em;
  }
}

.content-body {
  text-align: left;
  margin-top: 30px;
  @media (min-width: 992px) {
    margin-top: 35px;
  }
}

.reference-nav {
  margin-top: 30px;
  margin-bottom: -10px;
}

footer h3 {
  margin-bottom: 25px;
}

footer img.footer-logo {
  width: 240px;
}


.edit-on-github {
  font-size: 0.8em;
  border-top: thin solid white;
  border-bottom: thin solid white;
  padding: 20px;
  margin-top: 60px;

  h2 {
    font-size: 1.3em;
  }
  li {
    font-size: 0.9em;
  }
}

.use-cases {
  font-size: 1.25em;
}

.use-cases li {
  margin-bottom: 15px;
}


// https://coolestguidesontheplanet.com/videodrome/youtube/
// I added another box wrapper to control the width
.content-body {
  .video-box {
    max-width: 600px;
    text-align: left;
    margin: 0 auto 0 0;
    padding-bottom: 20px;
    .video-container {
      position:relative;
      padding-bottom:56.25%;
      padding-top:30px;
      height:0;
      overflow:hidden;
    }

    .video-container iframe, .video-container object, .video-container embed {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }
}

.content-body-list {
  .video-container iframe, .video-container object, .video-container embed {
    width: 180px;
    @media (min-width: 768px) {
      /* 16:9 ratio */
      width: 300px;
      height: 169px;
    }
  }
}

#timeline {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.learning-content {
  padding-top: 30px;
}

.article-box {
  padding-top: 20px;
}

.related-body {
  font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.15em;
  padding-bottom: 10px;
  position: relative;
  // background-color: yellow;
  // border: 1px solid red;
  @media (min-width: 1000px) {
    margin-top: 0;
    padding-bottom: 30px;
    height: 230px;
  }

  .related-thumbnail {
    float: left;
    width: 110px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    height: 70px;
    // background-color: green;
    @media (min-width: 768px) {
      width: 150px;
      height: 120px;
    }
    @media (min-width: 1000px) {
      width: inherit;
      height: 160px;
      text-align: center;
      // background-color: orange;
      display: block;
      float: none;
    }
    img.center-crop {
      object-fit: contain;
      object-position: center; /* Center the image within the element */
      height: 64px;
      @media (min-width: 768px) {
        height: 110px;
      }
      @media (min-width: 1000px) {
        height: 160px;
      }
    }
  }
  .related-link {
    // background-color: red;
    vertical-align: top;
    display: table-cell;
    height: 70px;
    padding-left: 15px;
    @media (min-width: 1000px) {
      height: 50px;
      display: block;
      clear: both;
      padding-top: 10px;
      margin-bottom: 5px;
      text-align: center;
    }
      a {
      display: block;
      vertical-align: middle;
      line-height: normal;
    }
  }
}

.related-body:after {
  content: "";
  display: table;
  clear: both;
}

.related-filler {
  @media (min-width: 1000px) {
    padding: 30px;
  }
}

blockquote {
  padding: 12px 24px;
  margin: 0 0 24px;
  border-left: 5px solid #eee;
}

ul.toc {
  list-style-type: none;
  padding: 5px;
  margin-left: 0;
  li {
    list-style-type: none;
    padding-left: 5px;
    margin-left: 0;
  }
  ul {
    padding-left: 10px;
  }
}

.cloud-logos {
  padding-bottom: 30px;
  text-align: center;
  img {
    vertical-align: middle;
    text-align: center;
    padding: 20px;
  }
}